<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logocolor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EnviarSolicitud"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MisEditores"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DetallesAmigo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SolicitudesRecibidas"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MisAmigos"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RutasFavoritas"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DetallesRuta"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditarRuta"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ImagenGaleria"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GaleriaFotosRuta"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Ajustes"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity1"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VerRuta"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PublicRoutesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcZcLL5gGsYQ6Sn83I0KP4Lx4SA5B874M" />

        <service
            android:name=".LocationService"
            android:screenOrientation="portrait"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".GrabarRuta"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>